@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100%;
    margin: 0;
    background: linear-gradient(-45deg, #9400fd, #f500b4, #0410f6);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo{
    color: #112434;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.navigation li{
    list-style: none;
}
 .navigation li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #112434;
    border-radius: 20px;
}
.navigation li a:hover,
.navigation li a.active{
    background: #112434;
    color: #fff;
}
main{
    margin: auto;
    margin-top: 25px;
    /* background: rgba(128, 128, 128, 0.314); */
    width: 90%;
}
.blog_post {
    background: #fff;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  
  .container_copy {
    padding: 6rem 4rem 5rem 4rem;
  }
  
  .img_pod {
    height: 110px;
    width: 110px;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    z-index: 10;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -10%;
    top: -13%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  img {
    height: 8.3rem;
    width: 8.3rem;
    position: relative;
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
  }
  
  h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #333;
  }
  
  p {
    margin: 0 0 4.5rem 0;
    font-size: 1.5rem;
    line-height: 1.45;
    color: #333;
  }
  
  .btn_primary {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    padding: 1.5rem 2rem;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
    transition: all 0.2s ease-in;
    text-decoration: none;
  }
  
  .btn_primary:hover {
    box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
  }
  
  @media only screen and (max-width: 650px) {
    body {
      background-color: black;
    }
  
    .img_pod {
  
    }
  }
  