@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100%;
    margin: 0;
    background: linear-gradient(-45deg, #9400fd, #f500b4, #0410f6);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo{
    color: #112434;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.navigation li{
    list-style: none;
}
 .navigation li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #112434;
    border-radius: 20px;
}
.navigation li a:hover,
.navigation li a.active{
    background: #112434;
    color: #fff;
}
label input{
  opacity: 0;
}
label li{
  list-style-type: none;
  display: inline-block;
}
label li a{
  text-decoration: none;
  color: #112434;
  margin-left: 10px;
  margin-right: 10px;
}
label ul{
  margin-right: 60px;
}

main{
    margin: auto;
    margin-top: 25px;
    /* background: rgba(128, 128, 128, 0.314); */
    width: 90%;
}
.blog_post {
  display: inline-block;
    background: #fff;
    max-width: 500px;
    margin-left: 70px;
    height: 600px;
    margin-right: 90px;
    border-radius: 10px;
    vertical-align: top;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
}
  
  
.container_copy {
    padding: 6rem 4rem 5rem 4rem;
}
  
.img_pod {
    height: 110px;
    width: 110px;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    z-index: 10;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -10%;
    top: -13%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
img {
    height: 8.3rem;
    width: 8.3rem;
    position: relative;
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}
  
h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
}
  
h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #333;
}
  
p {
    margin: 0 0 4.5rem 0;
    font-size: 1.5rem;
    line-height: 1.45;
    color: #333;
}
  
  .btn_primary {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    padding: 1.5rem 2rem;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
    transition: all 0.2s ease-in;
    text-decoration: none;
  }
  
  .btn_primary:hover {
    box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
  }
  
  @media only screen and (max-width: 650px) {
    body {
      background-color: black;
    }
  }
  
  @media(max-width: 600px) {

    .blog_post{
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .logo{
      position: absolute;
      left: 20px;
      margin: 20px;
    }
  
    .card{
      width: 340px;
      height: 620px;
    }
  
    .header span {
      display: block;
      font-size: 14px;
      color: #4CB493;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }
  
    label .menu {
      position: absolute;
      right: -100px;
      top: -100px;
      z-index: 100;
      width: 200px;
      height: 200px;
      background: #FFF;
      border-radius: 50% 50% 50% 50%;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
      cursor: pointer;
  
    }
  
    label .hamburger {
      position: absolute;
      top: 135px;
      left: 50px;
      width: 30px;
      height: 2px;
      background: #69D2e7;
      display: block;
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }
  
    label .hamburger:after,
    label .hamburger:before {
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #69d2e7;
    }
  
    label .hamburger:before {
      top: -10px;
    }
  
    label .hamburger:after {
      bottom: -10px;
    }
  
    label input {
      display: none;
    }
  
    label input:checked+.menu {
      box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
      border-radius: 0;
  
    }
  
    label input:checked+.menu .hamburger {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  
    }
  
    label input:checked+.menu .hamburger:after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      bottom: 0;
  
    }
  
    label input:checked+.menu .hamburger:before {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      top: 0;
  
    }
  
    label input:checked+.menu+ul {
      opacity: 1;
      margin-top: 150px;
      list-style-type: none;
    }
  
    label ul {
      z-index: 200;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      -webkit-transition: .25s 0s ease-in-out;
      transition: .25s 0s ease-in-out;
    }
  
    label a {
      margin-bottom: 1em;
      display: block;
      color: #f38630;
      text-decoration: none;
  
    }
  
  }