@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    background: linear-gradient(-45deg, #9400fd, #f500b4, #0410f6);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo{
    color: #112434;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.navigation li{
    list-style: none;
}
 .navigation li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #112434;
    border-radius: 20px;
}
.navigation li a:hover,
.navigation li a.active{
    background: #112434;
    color: #fff;
}
label input{
  opacity: 0;
}
label li{
  list-style-type: none;
  display: inline-block;
}
label li a{
  text-decoration: none;
  color: #112434;
  margin-left: 10px;
  margin-right: 10px;
}
label ul{
  margin-right: 60px;
}

.anime-card{
    margin: 60px;
}
.card{    
    display: inline-block;
    position: relative;
    width: 300px;
    background: blue;
    border-radius: 30px 30px 30px 30px;
}
.card img{
    display: block;
    width: 300px;
    border-radius: 30px 30px 0px 0px;
}
.anime-card h2{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    text-shadow: white 1px 0 10px;}
.anime-card p{
    color: white;
    text-align: center;
    font-size: 20px;
}
.info{
    overflow: hidden;
    position: relative;
    text-align: center;
}

/* ------------ дальше по наведению ------------ */

.info:hover .cardInfo {
    transform: translateY(-10%) translateX(-50%);
    transition: .5s;
    opacity: 1;
}
.cardInfo {    
    width: 90%;
    transform: translateY(100%) translateX(-50%);
    background-color: rgba(0, 0, 0, 0.545);
    position: absolute;
    bottom: 0px;
    left: 50%;
    padding: 25px;
    box-sizing: border-box;
    opacity: 0;
    border-radius: 25px;
}
.cardInfo p{
    margin-bottom: 25px;
}
.cardInfo a{
    font-family: 'Cookie', cursive;    
    text-decoration: none;
    color: white;
    background: blue;
    padding: 10px;
    border-radius: 15px;
}
@media(max-width: 600px) {

    .logo{
      position: absolute;
      margin: 20px;
      left: 20px;
    }
  
    .card{
      width: 340px;
      height: 620px;
    }
  
    .header span {
      display: block;
      font-size: 14px;
      color: #4CB493;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }
  
    label .menu {
      position: absolute;
      right: -100px;
      top: -100px;
      z-index: 100;
      width: 200px;
      height: 200px;
      background: #FFF;
      border-radius: 50% 50% 50% 50%;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
      cursor: pointer;
  
    }
  
    label .hamburger {
      position: absolute;
      top: 135px;
      left: 50px;
      width: 30px;
      height: 2px;
      background: #69D2e7;
      display: block;
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }
  
    label .hamburger:after,
    label .hamburger:before {
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #69d2e7;
    }
  
    label .hamburger:before {
      top: -10px;
    }
  
    label .hamburger:after {
      bottom: -10px;
    }
  
    label input {
      display: none;
    }
  
    label input:checked+.menu {
      box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
      border-radius: 0;
  
    }
  
    label input:checked+.menu .hamburger {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  
    }
  
    label input:checked+.menu .hamburger:after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      bottom: 0;
  
    }
  
    label input:checked+.menu .hamburger:before {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      top: 0;
  
    }
  
    label input:checked+.menu+ul {
      opacity: 1;
      margin-top: 150px;
      list-style-type: none;
    }
  
    label ul {
      z-index: 200;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      -webkit-transition: .25s 0s ease-in-out;
      transition: .25s 0s ease-in-out;
    }
  
    label a {
      margin-bottom: 1em;
      display: block;
      color: #f38630;
      text-decoration: none;
  
    }
  
  }